$block-caption
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  color: color-grey
  margin-bottom: 1em
  margin-left: 5px
  line-height: 1em
  text-shadow: 0 1px #fff
  font-weight: bold

$block
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-border
  border-radius: 3px

$base-style
  h1
    font-size: 3rem
  h2
    font-size: 2.8rem
  h3
    font-size: 1.5rem
  h4
    font-size: 1.2rem
  h5
    font-size: 1rem
  h6
    font-size: 1em
  hr
    border: 1px dashed color-border
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
    line-height: line-height
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold
$tags-style
  .color1
    background: main-color
    &:before
      border-right-color: main-color
  .color2
    background: #EE6252
    &:before
      border-right-color: #EE6252
  .color3
    background: #4cae4c
    &:before
      border-right-color: #4cae4c
  .color4
    background: #E23794
    &:before
      border-right-color:#E23794
  .color5
    background: #f0ad4e
    &:before
      border-right-color:#f0ad4e
$ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap