// Main
// 主色调
main-color = #0cc
// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #444
color-grey = #999
color-border = #ddd
color-link = #258fb8
color-background = #eee
color-sidebar-text = #777
color-widget-background = #ddd
color-widget-border = #ccc
color-footer-background = #262a30
color-mobile-nav-background = #191919
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// Fonts
font-family = "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 14px
line-height = 1.6em
line-height-margin = 0.8em
line-height-title = 1.1em

// Header
logo-size = 130px
m-logo-size = 100px
logo-url = hexo-config("logo")
subtitle-size = 16px
banner-height = 420px
banner-url = '../' + hexo-config("banner_img")

sidebar = hexo-config("sidebar")

// Layout
block-margin = 30px
article-padding = 15px
mobile-nav-width = 280px
main-column = 9
sidebar-column = 3
box-shadow = 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)

if sidebar and sidebar isnt bottom
  _sidebar-column = sidebar-column
else
  _sidebar-column = 0

// Grids
column-width = 80px
gutter-width = 20px
columns = main-column + _sidebar-column

// Media queries
mq-mobile = "screen and (max-width: 760px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"

//Functions
boxShadow(s)
  box-shadow: box-shadow
  transition(s)
  &:hover, &:active
   box-shadow: 0 6px 12px rgba(0, 0, 0, .2)
transition(s, dur = ease-in-out)
  -webkit-transition: s dur
  transition: s dur