#header
  height: banner-height
  position: relative
  width: 100%
  border-bottom: 1px solid color-border
  z-index: 1
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative
  overflow: hidden

#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: url(banner-url) center #000
  background-size: cover
  z-index: -1

#header-row
  padding-top: 50px
  text-align: center

$logo-common
  width: logo-size
  height: logo-size
  margin:0 auto

#logo
  @extend $logo-common
  img
    border-radius: 50%
    transition: all 1.6s cubic-bezier(.17,.67,.62,1.22)
    -webkit-transition: all 1.6s cubic-bezier(.17,.67,.62,1.22)
    -moz-transition: all 1.6s cubic-bezier(.17,.67,.62,1.22)
    -o-transition: all 1.6s cubic-bezier(.17,.67,.62,1.22)
    -ms-transition: all 1.6s cubic-bezier(.17,.67,.62,1.22)
    &:hover
      transform: rotate(360deg);
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Safari and Chrome */

.header-info
  cursor: pointer
  margin: 15px 0

$header-text
  font-weight: 100
  margin-top: 15px

#header-title
  @extend $header-text
  color: #fff
  letter-spacing: 2px
  h2
    @extend $base-style h2
    transition: all 0.5s
    &:hover
      letter-spacing: 5px

#header-description
  @extend $header-text
  width: 600px
  margin: 20px auto
  padding: 10px 0
  color: #666
  letter-spacing: 5px
  h3
    @extend $base-style h3
.header-nav
  cursor: pointer
  margin: 8px 0
  .social
    text-align: center
    a
      color: #696969
      margin-right: 15px
      &:hover
        color: main-color
#subtitle-wrap
  margin-top: subtitle-size

#main-nav
  float: left
  margin-left: -15px

$nav-link
  float: left
  color: #fff
  opacity: 0.6
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 20px 15px
  &:hover
    opacity: 1

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 15px
  position: relative
  cursor: pointer

.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block

#sub-nav
  float: right
  margin-right: -15px

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"

#search-form-wrap
  position: absolute
  top: 15px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777