@media mq-mobile
  #header
    height: 150px
  #header-row
    padding-top: 0
  #logo
    width: m-logo-size
    height: m-logo-size
  #logo img
    width: m-logo-size
    height: m-logo-size
    transform: scale(0.8)
    -ms-transform: scale(0.8)
    -moz-transform: scale(0.8)
    -webkit-transform: scale(0.8)
    -o-transform: scale(0.8)
  .header-info
    height: 50px
    margin-top: 0
  #header-title
    margin-top: 0
    h2
      font-size: 1em
      color: color-grey
  #header-description
    display: none
  .header-nav
    display: none
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: #fff
  .article
    margin: 15px 0
    .article-img
      display: none
    .article-entry, .article-feed
      margin-left: 0
      p
        margin: 0
    .article-footer .article-footer-menu .article-footer-tags
      display: none