.post-title
  text-align: center
  font-size: 26px
  color: #555
.post-title-bar
  padding-top: 20px
  text-align: center
  font-size: 16px
  line-height: 1.5em
  ul li
    display: inline-block
    margin-right: 15px
    font-size: 13px
    color: #999
    a
      text-decoration: none
      color: #999
      &:hover
        color: main-color
.post-content
  background: #fff