.page-reward
  margin: 20px 0
  text-align: center
  a
    width: 50px
    height: 50px
    line-height: 50px
    font-size: 20px
    color: #fff!important
    text-align: center
    border-radius: 50%
    display: inline-block
    background: main-color
    text-decoration: none
    boxShadow(.3s)
    &:hover, &:active
      color: #fff
      text-decoration: none!important

.reward-title
  position: relative
  font-size: 24px
  line-height: 24px
  width: 100%
  text-align: center
  .icon-quote-left,
  .icon-quote-right
    position: absolute
    font-size: 80%
    color: #999
  .icon-quote-left
    top: 0
    left: 0
  .icon-quote-right
    bottom: 0
    right: 0

.reward-lay
  width: 360px

.reward-content
  margin: 20px 0
  .reward-code
    width: 200px
    margin: 0 auto
  .reward-select
    width: 100%
    label
      display: inline-block
      max-width: 100%
      margin-bottom: 5px
      font-weight: 700
    .reward-select-item
      margin: 20px 5px 10px
      width: 156px
      height: 56px
      line-height: 54px
      text-align: center
      border: 1px solid #e6e6e6
      border-radius: 4px
      cursor: pointer
      img
        vertical-align: middle
        border: 0
        display: inline-block
      .reward-select-item-wechat
        min-width: 112px
        height: 30px
      .reward-select-item-alipay
        min-width: 85px
        height: 30px
    .checked
      color: #ea6f5a
      border-color: #ea6f5a