    <link rel="stylesheet" href="//unpkg.com/gitment/style/default.css">
    <script src="//unpkg.com/gitment/dist/gitment.browser.js"></script>
    <div id="comments">
        <script>
            var gitment = new Gitment({
                owner: '<%- theme.gitment.owner %>',
                repo: '<%- theme.gitment.repo %>',
                oauth: {
                    client_id: '<%- theme.gitment.client_id %>',
                    client_secret: '<%- theme.gitment.client_secret %>',
                },
            })
            gitment.render('comments')
        </script>
    </div>
